.second-container{
    margin-top: 15px;
    width: 100%;
    height: 78%;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5) ;
    position: relative;
}

.loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


